[submodule "config/atom-one-dark-terminal"]
	path = config/atom-one-dark-terminal
	url = https://github.com/nathanbuchar/atom-one-dark-terminal.git
[submodule "config/idea-one-dark-theme"]
	path = config/idea-one-dark-theme
	url = https://github.com/yurtaev/idea-one-dark-theme.git
[submodule "src/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting"]
	path = src/.oh-my-zsh-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "config/gruvbox-idea"]
	path = config/gruvbox-idea
	url = https://github.com/caleb/gruvbox-idea
[submodule "src/.hyper_plugins/local/hyperterm-gruvbox-dark"]
	path = src/.hyper_plugins/local/hyperterm-gruvbox-dark
	url = https://github.com/alexisvincent/hyperterm-gruvbox-dark.git
