{:aliases
 {:deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.12.1067"}}}
  :test {:extra-paths ["test"]}
  :cider {:extra-deps {nrepl/nrepl {:mvn/version "0.9.0"}
                       refactor-nrepl/refactor-nrepl {:mvn/version "3.5.2"}
                       cider/cider-nrepl {:mvn/version "0.27.4"}}}
  :portal {:extra-deps {djblue/portal {:mvn/version "LATEST"}}}
  :transit-platform/all.clj.local {:extra-deps {transit-platform/all.cljc {:local/root "/Users/alexisvincent/code/transit/platform/packages/all.clj"}}}
  :gx.cljc.local {:extra-deps {kepler16/gx.cljc {:local/root "/Users/alexisvincent/code/kepler/gx"}}}
  :fetch.cljc.local {:extra-deps {kepler16/fetch.cljc {:local/root "/Users/alexisvincent/code/kepler/fetch"}}}
  :ki.cljc.local {:extra-deps {kepler16/ki.cljs {:local/root "/Users/alexisvincent/code/kepler/ki"}}}
  :http.clj.local {:extra-deps {kepler16/http {:local/root "/Users/alexisvincent/code/kepler/http"}}}
  :next.cljs.local {:extra-deps {kepler16/next.cljs {:local/root "/Users/alexisvincent/code/kepler/next-cljs"}}}
  :authzed.clj.local {:extra-deps {kepler16/authzed.clj {:local/root "/Users/alexisvincent/code/kepler/authzed"}}}
  :async.cljc.local {:extra-deps {kepler16/async.cljc {:local/root "/Users/alexisvincent/code/kepler/async"}}}
  :entity.cljc.local {:extra-deps {kepler16/entity.cljc {:local/root "/Users/alexisvincent/code/kepler/entity.cljc"}}}
  :token-vault.cljc.local {:extra-deps {kepler16/token-vault.cljc {:local/root "/Users/alexisvincent/code/kepler/token-vault"}}}}}
