# Enable aliases to be sudo’ed
alias sudo='sudo '

# Show/hide hidden files in Finder
alias show-hidden="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide-hidden="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Flush DNS
alias flushDNS="sudo killall -HUP mDNSResponder"
alias devbox='docker run --privileged --rm -v "$(pwd)":/root/mnt -it alexisvincent/devbox '


# Emacs
alias emacs="/Applications/Emacs.app/Contents/MacOS/Emacs"
e() {
    if ! emacsclient -e 0 >&/dev/null; then
        emacs "$@" &
    else
        emacsclient -n -c "$@" &
    fi
}

alias set-doom="echo \"doom\" > ~/.emacs-profile"
alias set-spacemacs="echo \"spacemacs\" > ~/.emacs-profile"

alias cat=bat
alias ls=exa
alias g=git
alias p=pnpm
alias k=kubectl
alias n=npm

alias antq="clojure -Sdeps '{:deps {antq/antq {:mvn/version \"RELEASE\"}}}' -m antq.core"
