# Compiled Python files
*.pyc

# Folder view configuration files
.DS_Store
Desktop.ini

tags

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes
/.idea/

.vim/bundle/Vundle.vim


/config/idea

.#*

.extra
